.banner{
  width: 1440px;
  height: 632px;
  justify-content: space-between;


}

.multiple-wrapper{
  display: flex;
}

.macbook{
  width: 720px;
  height: 600px;
  gap: 1px;
}

.left-wrapper{
  display: flex;
}
.playstation{
  width: 720px;
  height: 328px;
}
.airpods{
  width: 360px;
  height: 272px;
}
.visionpro{
  width: 360px;
  height: 272px;
}